{% extends 'ER2XML/base.html' %}

{% block content %}
    {% for key, value in forms.items %}
    	<article>
	    	<h1> {{ key }} </h1>
	    	<form action='{% url "schema_save" pk=1%}' method="POST" class="post-form">{% csrf_token %}
	            {% for form in value %}
	            	{{ form.as_p }}
	            	<div class="line"></div>
	            {% endfor %}
	            <button type="submit" class="save btn btn-default">Save</button>
        	</form>
        </article>
    {% endfor %}
    
{% endblock %}